/* Appbar.css */
.appbar-toolbar {
    background-color: #F2EE9D;
    
    
  }
  
  .appbar-logo {
    height: 90px;
  }
  
  .appbar-typography {
    font-family: Sansita;
    font-weight: bold;
  }
  
  .appbar-button {
    color: #056765;
    font-weight: bold;
    margin-left: 16px;
  }
  
  .appbar-button-signup {
    margin-left: 8px;
    font-weight: bold;
  }
  .appbar{
    width: 100%;
  }