

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}   

#wrapper{
    height: 90vh;
    width: 100vw;
    /*background-color: #ffffff;*/
}
.landing-page {
    display: flex;
    height: 100%;
  }
  
  .content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 60%;
    padding: 20px;
    margin-left: 75px;
    height: 90%;
  }
  
  .content h1 {
    /*align-items: center;*/
    font-family: 'Sansita', sans-serif;
    font-size: 3.2rem;
    margin: 0;
    /*height: 89px;*/
    color: #056765;
    font-weight: bold;
  }
  
  .content p {
    font-family: 'Sansita', sans-serif;
    font-size: 1.25rem;
    margin-top: 10px;
    color: #056765;
  }

  #imgcontainer{
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background-color: #016565;
    /*margin-left: 30px;*/
    margin-top: 80px;
}
  #imgcontainer img{
    width: 400px;
    height: 400px;
    margin-top: -20px;
}
  