.inventory-container {
    display: flex;

}

.sidebar-container {
    width: 250px;
    height: 600px;/* Adjust the width as needed */
    flex-shrink: 0;
}

.inventory-content {
    flex-grow: 1;
    padding: 10px;
    margin-top: 100px;/* Adjust the padding as needed */
}

.fade-slide-up {
    animation: fadeSlideUp 0.5s forwards;
}

@keyframes fadeSlideUp {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(-20px);
    }
}

.table-slide-up {
    animation: tableSlideUp 0.5s forwards;
}

@keyframes tableSlideUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}