body {
    font-family: 'Poppins', sans-serif;
}
.register-container {
    display: flex;
    justify-content: space-between; /* Space between left and right */
    align-items: center;
    height: 100vh;
    width: 100vw;
    position: relative;
    overflow: hidden;
    background-color: #F2EE9D;

}

.register-background {
    background-image: url('../../assets/static/img/registerbg.jpg');
    background-size: cover;
    position: absolute;
    top: 0;
    right: 0;
    width: 65%;
    height: 100%;
    opacity: 0.3;
    z-index: 1;
}

.register-paper {
    max-width: 600px;
    max-height: 610px;
    width: 100%;
    text-align: center;
    height: auto;
    border: 1px solid grey;
    border-radius: 8px;
    padding: 16px;
    box-shadow: 0 4px 8px rgba(18, 17, 17, 0.1);
    background-color: #e9eded;
    position: relative;
    z-index: 2;
    margin-left: 95px;

}
.image-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 60%;
    padding: 20px;
    z-index: 2;


}

.custom-paragraph {
    font-size: 25px; /* Adjust the size as needed */
    color: #800000;
}
